body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.motive-img{
    border: 5px solid white;
    width: 100%;
}

#poster{
    text-align: center;
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
    color: white;
    font-family: 'Libre Baskerville', serif;
}